.lema{
  width: 100%;
  background: #F1F1F1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lema h1{
  font-size: 44px;
  font-weight: 700;
  color: #3e3e3e;
  line-height: 53px;
  padding: 60px 0;
}

@media screen and (max-width:1024px){
  .lema{
    text-align: center;
  }
}

@media screen and (max-width:768px){
  .lema h1{
    font-size: 32px;
  }
}